.right-page-screen {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1px 5px 1px 5px;
  color: var(--white);
  border-radius: 5px;

  background-color: #ebe7e7;

  width: 50%;
  height: 100%;
}

.right-page-screen span {
  margin-left: 8px;
  margin-Right: 8px;
  letter-spacing: 1px;
}

.right-page-screen span h1 {
  font-size: 40px;
  font-weight: 900;
}

.right-page-screen span p {
  padding: 0px 30px 0px 30px;
  font-size: 13px;
  margin-top: 12px;
  letter-spacing: 1px;
}
