:root {
  width: 100vw;
  height: 100vh;

  --white: rgb(255, 255, 255);
  --dark : rgb(56, 56, 56);
  --gray: rgb(184, 184, 184);
  --dark-gray: rgb(131, 130, 130);
  --purple: rgb(115, 54, 255);
  --light-purple: rgba(106, 2, 204, 0.452);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

button {
  font-weight: 600;
  width: 85px;
  height: 30px;
  border-radius: 50px;
  cursor: pointer;
  background-color: white;
}

.errorForm {
  font-size: 12px;
  height: 28px;
  color: var(--light-purple);
  padding: 5px 0px 0px 5px;
}


@media screen and (max-width: 850px){
  .right-page-screen {
    display: none;
  }
  .left-page-login,
  .left-page-register {
    width: 100%;
  }
  .smallScreenLogo {
    display: flex;
  }
  .form-container-login {
    height: 550px;
  }
  .form-container-register{
    height: 600px;
  }
  .login-account-text h1,
  .login-account-text p,
  .register-account-text h1,
  .register-account-text p {
    text-align: center;
  }
  .signin-header p,
  .signup-header p {
    display: none;
  }
  .create-account-with{
    justify-content: center;
  }
}



